.button{
  border : none;
  outline : none;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  align-items: center;
  color : whitesmoke;
  transition: all 0.3s ease-in-out;

  &.primary-button{
    background-color: rgb(60, 64, 255);
    cursor: pointer;
  }

  &:active{
    transform: scale(0.8);
  }
}